.home-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: calc(100vh - 90px);
}

.home-screen-content {
  flex: 1;
  margin-top: 20vh;
}

.home-screen-title {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

.home-screen-description {
  padding: 0;
  margin: 0;
  font-size: smaller;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.home-screen-link-container {
  margin-top: 15vh;
}

.home-screen-link {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.home-screen-copyright {
  margin-top: 15vh;
}
