.status-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.status-content {
  padding: 0;
  margin: 0.5rem
}

hr:first-of-type {
  border-top: solid #bab5a1;
  border-width: 0.125rem 0 0 0;
}

hr:not(:first-of-type) {
  border-top: solid #bab5a1;
  border-width: 0.1rem 0 0 0;
}

.no-error {
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
