.commit-status {
  margin: 0;
  padding: 0;
  background-color: #dcd8c0;
}

.commit-status-title {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #454138;
  color: #dcd8c0
}

.commit-status-content {
  padding: 1rem;
}

.commit-status-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.commit-status-content > hr:first-of-type {
  border-top: solid #bab5a1;
  border-width: 0.125rem 0 0 0;
}

.commit-status-content > hr:not(:first-of-type) {
  border-top: solid #bab5a1;
  border-width: 0.1rem 0 0 0;
}

.commit-status-no-error {
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
