body {
  margin: 0;
  color: #454138;
  background: #d1cdb7 fixed;
  letter-spacing: 0.04rem;
}

body {
  height: 100%;
  background-size: 5px 5px;
  background-image: linear-gradient(to right, #ccc8b1 3px, transparent 3px),
  linear-gradient(to bottom, #ccc8b1 3px, transparent 3px);
}

h1 {
  border: solid #454138;
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 50px;
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
}

blockquote {
  position: relative;
  color: #635f53;
}

blockquote:before {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 100%;
  left: -2rem;
  border: solid #938f7d;
  border-width: 0 0.2rem 0 0.6rem;
}

b {
  font-weight: 500;
}

a {
  color: #424242;
}
